@model IEnumerable<c18_98_m_csharp.Models.Pet>

@{
    ViewData["Title"] = "Mis mascotas";
}

<h2 class="text-4xl text-primary font-medium mb-10">Mis mascotas</h2>

@{
    if (Model.Count() == 0)
    {
        <partial name="Shared/NoPets" />
    }
    else
    {
        @foreach (var pet in Model)
        {
            <div class="flex flex-row gap-8 bg-ui-light-section rounded-lg p-4 shadow-md">
                <div class="w-24 h-24 bg-slate-400 rounded-full"></div>
                <div class="flex flex-col justify-center">
                    <div>@pet.Species @pet.Breed</div>
                    <div class="text-2xl font-medium">@pet.Name</div>
                    <div>@pet.Birthdate</div>
                </div>
            </div>
        }
        <partial name="Shared/AddPetButton" />
    }
}


@* <a asp-action="Create" class="btn bg-green-500">Añadir mascota</a> *@


@* <h1>Index</h1>

<p>
<a asp-action="Create">Create New</a>
</p>
<table class="table">
<thead>
<tr>
<th>
@Html.DisplayNameFor(model => model.Name)
</th>
<th>
@Html.DisplayNameFor(model => model.Breed)
</th>
<th>
@Html.DisplayNameFor(model => model.Color)
</th>
<th>
@Html.DisplayNameFor(model => model.Species)
</th>
<th>
@Html.DisplayNameFor(model => model.Birthdate)
</th>
<th>
@Html.DisplayNameFor(model => model.Sex)
</th>
<th>
@Html.DisplayNameFor(model => model.MicrochipId)
</th>
<th>
@Html.DisplayNameFor(model => model.Description)
</th>
<th></th>
</tr>
</thead>
<tbody>
@foreach (var item in Model) {
<tr>
<td>
@Html.DisplayFor(modelItem => item.Name)
</td>
<td>
@Html.DisplayFor(modelItem => item.Breed)
</td>
<td>
@Html.DisplayFor(modelItem => item.Color)
</td>
<td>
@Html.DisplayFor(modelItem => item.Species)
</td>
<td>
@Html.DisplayFor(modelItem => item.Birthdate)
</td>
<td>
@Html.DisplayFor(modelItem => item.Sex)
</td>
<td>
@Html.DisplayFor(modelItem => item.MicrochipId)
</td>
<td>
@Html.DisplayFor(modelItem => item.Description)
</td>
<td>
<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
</td>
</tr>
}
</tbody>
</table> *@
